<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Individual News Feed</title>
  
  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script src="lib/jquery-1.6.4.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      var month = today.getMonth();
      var day = today.getDay();
      var year = today.getFullYear();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('current-time').innerHTML = 
      month + "-" + day + "-" + year + "   " + h + ":" + m + ":" + s;
      var t = setTimeout(startTime, 500);
      //mm-dd-yyyy HH:mm:ss
  }
  function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
  }
  </script>
</head>

<body>

<body onload="startTime()">

<!--<p>Count numbers: <output id="result"></output></p>
<button onclick="startWorker()">Start Worker</button> 
<button onclick="stopWorker()">Stop Worker</button>

<p><strong>Note:</strong> Internet Explorer 9 and earlier versions do not support Web Workers.</p>

<script>
var w;

function startWorker() {
    if(typeof(Worker) !== "undefined") {
        if(typeof(w) == "undefined") {
            w = new Worker("demo_workers.js");
        }
        w.onmessage = function(event) {
            document.getElementById("result").innerHTML = event.data;
        };
    } else {
        document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Workers...";
    }
}

function stopWorker() { 
    w.terminate();
    w = undefined;
}
</script>-->


  <script id="feed-template" type="text/template" >
    <div class="view panel panel-default" >
      <div class="panel-heading"><%- title %></div>
      <div class="panel-body">
        <label><%- url %></label>
        <div id="feed-content">
          <div id="sports-content"> </div>
        </div>
      </div>
    </div>
  </script>

  <script type='text/javascript'>

    var handleData = function(data) {
      // data is a DOM-like object, so `querySelectorAll` works
      const items = Array.from(data.querySelectorAll('item'));
      // console.log(items);
      // // map the list of items into nodes for html
      const nodes = items.map(function(item) {
        // make a node for the title
        const titleNode = document.createElement('strong');
        titleNode.innerHTML = item.querySelector('title').textContent +
          '&nbsp;';
        // make a node for the date
        const dateNode = document.createElement('em');
        dateNode.innerHTML = item.querySelector('pubDate').textContent +
          '&nbsp;';
        // make a node for the link
        const linkNode = document.createElement('a');
        linkNode.href = item.querySelector('link').textContent;
        linkNode.textContent = '(link)';
        // make a node for everything
        const articleNode = document.createElement('article');
        articleNode.appendChild(titleNode);
        articleNode.appendChild(dateNode);
        articleNode.appendChild(linkNode);
        return articleNode;
      });
      // clear out the container
      const container = document.getElementById('sports-content');
      container.innerHTML = '';
      // append them all to the container
      nodes.forEach(function(node) {
        container.appendChild(node);
      });
    };

  </script>

<!-- *************************CONTROLLS** USERS VIEW******************************** -->
  <section id="myfeedapp">

    <div id="myfeedcontainer"><!--  HIDES/SHOWS -->
      <div id="current-time"></div> <br />
      <div id="last-login"></div>
      
      <div class="panel panel-default" id="add-feed-panel">
        <div class="panel-heading">My Feed</div>
        <div class="panel-body">
          <div id="feed-list">
            <!-- EACH feed-template is inserted into when a user 
            clicks on "Add To My Feed" button. -->
          </div>
        </div>
        <div class="panel-footer">
          <select class="list-group" id="add-feed-select" >
            <option name='sport' value='MLB' id='MLB' > MLB </option>
            <option name='sport' value='NBA' id='NBA' > NBA </option>
            <option name='sport' value='NFL' id='NFL' > NFL </option>
            <option name='sport' value='NHL' id='NHL' > NHL </option>
            
          </select>
          <button type="button" id="add-feed" >Add to My Feed</button>

          <select class="list-group" id="remove-feed-select" >
            <!-- option tags INSERTED here when they are added to the 'appView' -->
          </select>
          <button type="button" id="remove-feed" >Remove from My Feed</button>
        </div>
      </div><!-- END 'panel panel-default'    -->
      <button type="button" id="logout-button" >Log out</button>
    </div> <!-- END 'main-homepage'        -->
        


    <div id="login-section"><!--  HIDES/SHOWS -->
      <header id="login-header">
        <h1> Login </h1>
      </header>
      <label>
        Username: <input name="myusername" required>
      </label>
      <label>
        Password: <input  name="mypassword" required>
      </label>
      <button type="button" id="login-button" >Log In</button>
      <button type="button" id="signup-button" >Sign Up</button>
    </div>


      <div id="signup-section"><!--  HIDES/SHOWS -->
        <header id="signup-header">
          <h1> New User Account </h1>
        </header>
        <label>
          Username: <input name="myusername-new" id="new-username-input" required>
        </label>
        <label>
          Password: <input  name="mypassword-new" id="new-password-input" required>
        </label>
        <label>
          Password Confirmation: <input  name="mypassword-confirmation" required><!-- ****-->
        </label>
        <button type="button" id="login-page" >Back to Log In</button>
        <button type="button" id="create-account-button" >Create Account</button><!-- ****-->
      </div>
  </section>
  <!-- ***************************END USERS VIEW********************************* -->




  <script type="text/javascript">
    if(localStorage){
      var app = {};//creates a namespace for the app
      app.User = Backbone.Model.extend({
        defaults: {
          username: '',
          password: '',
          last_login: ''
        }
      });

      app.UserList = Backbone.Collection.extend({
        model: app.User,
        localStorage: new Store("backbone-user")
      });
      // instance of the Collection
      app.userList = new app.UserList();



      app.Feed = Backbone.Model.extend({
        defaults: {
          title: '',
          url: ''
        }
      });
      var feed = new app.Feed({title: "news feed", url: ''});

      app.FeedList = Backbone.Collection.extend({
        model: app.Feed,
        localStorage: new Store("backbone-feed")
      });
      //instance of the Collection
      app.feedList = new app.FeedList();

      app.FeedView = Backbone.View.extend({
        tagName: 'li',
        template: _.template($('#feed-template').html()),
        render: function(){
          this.$el.html(this.template(this.model.toJSON()));
          return this; // enable chained calls
        }
      });
      var view = new app.FeedView({model: feed});

      app.AppView = Backbone.View.extend({
        el: '#myfeedapp',
        initialize: function () {
          this.add_feed_selectbox = this.$('#add-feed-select');
          this.remove_feed_selectbox = this.$('#remove-feed-select');
          // when new elements are added to the collection render then with addOne
          app.feedList.on('add', this.addOneFeed, this);
          app.feedList.on('reset', this.addAllFeeds, this);
          app.userList.fetch(); // Loads list from local storage
          // app.feedList.fetch();


          this.create_account_button = this.$('#create-account-button');
          this.username_input = this.$('#new-username-input');
          this.password_input = this.$('#new-password-input');
          this.last_login_timebox = this.$('#current-time');
        },
        events: {
          // 'keypress #new-todo': 'createTodoOnEnter',
          'click #create-account-button': 'createUser',
          'click #add-feed': 'createFeed',
          'click #remove-feed': 'removeFeed',
          'click #logout-button': 'updateLastLogin'
        },
        addOneFeed: function(feed){
          // console.log("addOneFeed CALLED=============");
          var view = new app.FeedView({model: feed});
          $('#feed-list').append(view.render().el);
        },
        addAllFeeds: function(e){
          // console.log("addAllFeeds CALLED=============");
          this.$('#feed-list').html(''); // clean the todo list
          app.feedList.each(this.addOne, this);
        },
        createFeed: function(e){
          // console.log("ATTEMPTING TO CREATE FEED");
          app.feedList.create(this.newFeedAttributes());
          // store the select options as an array
          const sport_options = Array.from(document.querySelectorAll('option'));
          const url = this.newFeedAttributes().url;
          const title = this.newFeedAttributes().title;
          console.log(app.feedList.where({ title: title }));
          const xhr = new XMLHttpRequest();
          
          xhr.open('GET', url);
          xhr.onload = function() {
            if (xhr.status === 200) {
              handleData(xhr.responseXML);
              //set the id of the content to the url for this rss feed
              $(document.getElementById('sports-content')).attr("id", url );
              $('#' + title).remove();
              $('#remove-feed-select').append($("<option></option>").attr("value", title).attr("id", title).attr("name", "sports").text(title));
            } else {
              const container = document.getElementById('sports-content');
              container.innerHTML = '';
              container.textValue = 'An error occured reading the stream';
            }
          };
          console.log("ABOUT TO SEND");
          xhr.send();
        },
        removeFeed: function(e){
          //TODO:
          //ADD OTHER OPTIONS OTHER THAN SPORTS******************************
          //Add the option to favorite feeds
          console.log("ATTEMPTING TO REMOVE FROM FEED");
          const sport_options = Array.from(document.querySelectorAll('option'));
          const remove_title = this.remove_feed_selectbox.val().trim();
          var feedToDelete = app.feedList.where({ title: remove_title })[0];
          const url = feedToDelete.get('url');
          const title = feedToDelete.get('title');
          //remove list item from users feed view
          $(document.getElementById(url)).closest('li').remove();
          //remove from the remove options
          $('#remove-feed-select option#' + title).remove();
          //add the option back to options that can be added to the feed list
          $('#add-feed-select').append($("<option></option>").attr("value", title).attr("id", title).attr("name", "sports").text(title));
          //delete the feedToDelete
          feedToDelete.destroy();
        },
        createUser: function(e) {
          var password_input = $('input[name=mypassword-new]') .val();
          var password_confirmation_input = $('input[name=mypassword-confirmation]') .val();
          var username_input = $('input[name=myusername-new]') .val();
          if((password_input === password_confirmation_input) && username_input.length){
            var existingUser = app.userList.where({ username: username_input });
            if(existingUser.length){
              alert("Username has already been taken. Please enter a different username.");
            } else {
              app.userList.create(this.newUserAttributes());
              $('#login-section').show();
              $('#signup-section').hide();
              //TODO: show success message here
            }
          } else {
            alert("Password and Password Confirmation fields do not match. Please make sure these inputs are the same before attempting to create a new account.");
          }
        },
        newUserAttributes: function() {
          return {
            username: this.username_input.val().trim(),
            password: this.password_input.val().trim(),
            last_login: this.last_login_timebox.html
          }
        },
        updateLastLogin: function(){
          return {
            last_login: this.last_login_timebox.html
          }
        },
        newFeedAttributes: function(){
          return {
            title: this.add_feed_selectbox.val().trim(),
            url: `http://espn.go.com/espn/rss/${this.add_feed_selectbox.val().trim()}/news`
            //url: `http://www.autocar.co.uk/rss`
            //url: `http://webdesign.about.com/library/z_whats_new.rss`
          }
        }
      });
      app.appView = new app.AppView();



















      if(localStorage.getItem("my_username") !== null){
            if(localStorage.getItem("my_username").length){
              console.log("RELOAD");
              $("#login-section").hide();
              $("#signup-section").hide();
              var current_user = app.userList.where({ username: localStorage.getItem("my_username") });
              var lastLogin = current_user[0].get('last_login');
              console.log(current_user);
              console.log(lastLogin);
              document.getElementById('last-login').innerHTML = "Your last visit was on: " + lastLogin;
            } else {
              $("#signup-section").hide();
              $("#myfeedcontainer").hide();
            }
      } else {
              $("#signup-section").hide();
              $("#myfeedcontainer").hide();
      }
      //store the current username and password when a user logs in.
      $("#login-button").click(function(){
        var userName = $('input[name=myusername]').val();
        var password = $('input[name=mypassword]').val();
        var current_user = app.userList.where({ username: userName });
        var lastLogin = current_user[0].get('last_login');
        document.getElementById('last-login').innerHTML = "Your last visit was on: " + lastLogin;
        if(current_user.length){
          localStorage.setItem("my_username", userName);
          localStorage.setItem("my_password", password);
          localStorage.setItem("my_last_login", lastLogin);
          // $('#last-login').html = lastLogin;
          // current_user[0].get('last_login');
          //  todo set this
          // localStorage.getItem("last_login")
          // console.log(current_user.get('last_login'));
          // console.log(current_user.get('last_login'));
          // console.log(current_user.get("last_login").length);
          // console.log("Current logged in user: Username and password saved to localStorage");
          $("#login-section").hide();
          $("#myfeedcontainer").show();
          $("#feed-content").show();
        } else {
          alert("Invalid username and/or password.");
          console.log("Invalid username and/or password.");
        }
      });

      //logout user
      $("#logout-button").click(function(){
        $("#login-section").show();
        $("#myfeedcontainer").hide();
        $("#feed-content").hide();
        // var feedToDelete = app.feedList.where({ title: remove_title })[0];
        // var current_user = app.userList.where({ username: userName });
        var current_user = app.userList.where({ username: localStorage.getItem("my_username") })[0];
        localStorage.removeItem("my_username");
        localStorage.removeItem("my_password");
        localStorage.removeItem("my_last_login");
        //save user last logged in time
        current_user.set({last_login: document.getElementById('current-time').innerHTML});
        current_user.save();
      });

      //'navigate' to the SIGN UP page
      $("#signup-button").click(function() {
        $("#login-section").hide();
        $("#signup-section").show();
      });

      //'navigate' to the LOGIN page
      $("#login-page").click(function(){
        $("#signup-section").hide();
        $("#login-section").show();
      });
    }
  </script>
  
</body>
</html>
